:root {
  --primary-color-one: #69320a;
  --primary-color-three: #8f7563;
  --primary-color-two: #fdf2e9;
  --primary-color-four: #cf711f;
  --color-white: #fff;
  --secondary-color: #8a410e;
  --color-dark-gray: #333;
  --color-light-gray: #999;
  --shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  --shadow-1: 0rem 1px 4px rgba(0, 0, 0, 0.16);
  --shadow-2: 0rem 0px 18px rgba(0, 0, 0, 0.1);
  --rgba-color: rgba(253, 242, 233, 0.9);
  --gradient-primary: linear-gradient(to top left, #69320a, #cf711f);
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}
html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: "nunito", sans-serif;
}
